<div *ngIf="progressBar" class="spinner">
  <div id="spinner"></div>
</div>
<div class="container">
  <h2>Transactions</h2>
  <mat-card class="table">
    <button class="addBtn" (click)="redirect('/book-request', 'create')" mat-button>
        New Transactions
    </button>
    <mat-divider></mat-divider>
    <mat-table #table [dataSource]="datasource">

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef> User's Name </mat-header-cell>
        <mat-cell *matCellDef="let transaction"> {{transaction.user.firstName + ' ' + transaction.user.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="book">
        <mat-header-cell *matHeaderCellDef> Book </mat-header-cell>
        <mat-cell *matCellDef="let transaction"> {{transaction.book.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="checkout">
        <mat-header-cell *matHeaderCellDef> Check-out </mat-header-cell>
        <mat-cell *matCellDef="let transaction"> {{transaction.checkOut | date:'mediumDate'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="checkoutStatus">
        <mat-header-cell *matHeaderCellDef> Check-out status </mat-header-cell>
        <mat-cell *matCellDef="let transaction"> {{transaction.checkOutStatus}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="checkin">
        <mat-header-cell *matHeaderCellDef> Check-in </mat-header-cell>
        <mat-cell *matCellDef="let transaction"> {{transaction.checkIn | date:'mediumDate'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let transaction">
          <button class="action" (click)="redirect('/book-requests/', transaction.id)" mat-button>
            VIEW
          </button>
          <button class="action" (click)="redirect('/book-requests/edit/', transaction.id)" mat-button>
           EDIT
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <app-paginator (goPrevious)="onPrevious()" (goNext)="onNext()" (goPage)="goToPage($event)"
    [loading]="progressBar" [paginator]="page"></app-paginator>
  </mat-card>
</div>
