<mat-nav-list>
	<div class="brand" >
		<i class="fa fa-user fa fa-5x" ></i>
		<p>Username</p>
	</div>
	<div>
		<ul id="menu-content" class="menu-content">
			<li routerLinkActive="active">
				<a routerLink="/dashboard">
					<i class="fa fa-tachometer" ></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/users">
					<i class="fa fa-users" ></i>
					<span>Users</span>
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/listings">
					<i class="fa fa-book" ></i>
					<span>Books</span>
				</a>
			</li>
		</ul>
	</div>
</mat-nav-list>