.container-wrapper {
    width: 90%;
    margin-left: 10%;
}
.container {
    background-color: #fff;
    overflow-x:auto;
    width: 70%;
    margin: 2%;
    margin-top: 1%;
    margin-left: 15%;
}
h2 {
    margin-left: 5%;
}
.spinner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height:100%;
    position:absolute;
    z-index:2
}
#spinner {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #522007;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin-left: 45%;
    margin-top: 15%;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
table th, table td {
    border-bottom: 1px solid #ddd;
    padding: 1.5%;
    height: 5%;
    vertical-align: bottom;
    text-align: left;
}
table tr:last-child td {
    border-bottom: 0px;
}
table tr td:first-child {
    font-weight: bold;
    width:30%;
}
table th {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    color: rgb(43, 41, 41);
}
.textarea {
    width: 30%;
}
.action {
    margin-top: 1%;
    margin-bottom: 1%;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.877);
}